<div class="comment-list">
    <ul class="pagination" data-current="" data-total="" data-size=""></ul>
</div>
<div class="comment-add">
    <form method="post" action="/comment/post">
        <input type="hidden" name="topic_id" value="" />
        <textarea class="comment-editor" name="content"></textarea>
        <button class="button">{{__ 'Reply'}}</button>
    </form>
</div>