<div class="item">
    <div class="avatar"><img src="/user/avatar/${user_id}" width="36" height="36" /></div>
    <a class="user" href="/user/${user_id}">${user_name}</a>
    <div class="time">${created}</div>
    <div class="clear"></div>
    <div class="content"></div>
</div>