<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<head>
    <title></title>
</head>
{{#script}}
<script src="/libraries/jquery/jquery.min.js"></script>
<script src="/libraries/tinymce/js/tinymce/tinymce.jquery.min.js"></script>
{{/script}}
<body>
    <div id="editor"></div>

<script src="/user_libraries/tinymce/editor.js"></script>
<script src="/javascripts/forum/topic-add.js"></script>