.article {
  background: #fff;
  padding: 2rem;
  h1 {
    margin: 1rem 0 3rem;
  }
  article {
    line-height: 1.5;
    font-size: 1.4rem;
    font-weight: 200;
    p {
      min-height: 1px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
