<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
  </body>
  <% if (htmlWebpackPlugin.options.sentry) { %>
    <script src="https://cdn.ravenjs.com/3.18.1/raven.min.js" crossorigin="anonymous"></script>
    <script>
    Raven.config('<%= htmlWebpackPlugin.options.sentry %>', {
        release: '<%= htmlWebpackPlugin.options.sentry_release %>'
    }).install()
</script>
  <% } %>
</html>
