configs/*.json
!configs/*.simple.json
node_modules/
public/libraries/*
public/javascripts/cache/
public/stylesheets/src/.sass-cache 
*.sassc
todo.md
public/javascripts/config.js
core/controllers/test.js
