.list {
  .item {
    background: #fff;
    padding: 1rem 2rem .8rem 4rem;
    border-bottom: 1px solid #ededed;
    .title {
      color: #444;
      font-size: 1.6rem;
      line-height: 2rem;
      white-space: nowrap;
      max-width: 100%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .info {
      font-size: 1.2rem;
      line-height: 1.6rem;
      margin-top: .5rem;
      color: #999;
      .tag {
        display: inline-block;
        margin-right: 2rem;
        .avatar {
          vertical-align: text-bottom;
        }
      }
    }
  }
}
