.header {
  height: 5rem;
  line-height: 5rem;
  padding: 0 2rem;
  margin-bottom: 2rem;
  background: #fff;
  .logo {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 3rem;
    a {
      color: #666;
    }
  }
  .sub-nav {
    display: inline-block;
    margin-left: .5rem;
    font-size: 1.6rem;
    position: relative;
    top: .6rem;
    color: #999;
    a {
      color: #999;
    }
  }
  .avatar-panel {
    float: right;
    .dropdown {
      margin: 0;
      &.open > .dropdown-toggle.btn {
        background: inherit;
      }
      .dropdown-menu {
        right: 0;
        left: inherit;
        min-width: 60px;
      }
    }
  }
}
