.comment-container {
  .form {
    background: #fff;
    .form-group {
      margin-top: 1rem;
      padding: 1rem 1rem 0;
      textarea {
        background: #eee;
        font-size: 1rem;
        padding: 1rem.5rem;
        margin-bottom: 0;
        &::-webkit-input-placeholder {
          font-size: 1rem;
        }
      }
      &.is-focused textarea {
        height: 100px;
      }
    }
    .submit {
      margin-top: 0;
    }
  }
  .list {
    background: #fff;
    .comment-item {
      position: relative;
      min-height: 80px;
      padding-left: 60px;
      .avatar-container {
        position: absolute;
        left: 0;
      }
      .text {

      }
    }
  }
}
