@import reset
@import font.scss

@mixin transform($transform)
    -moz-transform: $transform
    -webkit-transform: $transform
    -ms-transform: $transform
    transform: $transform

@mixin linear-gradient($direction, $color-stop1, $color-stop2)
    background-image: linear-gradient($direction, $color-stop1, $color-stop2)
    background-image: -webkit-linear-gradient($direction, $color-stop1, $color-stop2)
    background-image: -moz-linear-gradient($direction, $color-stop1, $color-stop2)
    background-image: -o-linear-gradient($direction, $color-stop1, $color-stop2)

@mixin panel
    width: 80%
    min-width: 960px
    max-width: 1200px
    margin: 0 auto

// animation
@keyframes moveup
    from
        margin-top: 100px
    to
        margin-top: 0
@-webkit-keyframes moveup
    from
        margin-top: 100px
    to
        margin-top: 0
@keyframes moveright
    from
        margin-left: 0
    to
        margin-left: 400px
        margin-right: -400px
        display: none
@-webkit-keyframes moveright
    from
        margin-left: 0
    to
        margin-left: 400px
        margin-right: -400px
        display: none
// end animation

.clear
    clear: both

.dialog
    position: absolute
    background-color: #fff
    z-index: 1
    line-height: 32px
    text-indent: 8px
    border: 1px solid #9D9D9E
    border-top: none
    color: #000
    a
        color: #348fd5
        margin-right: 8px
        font-size: 14px

.dialog:before
    content: ''
    position: absolute
    width: 16px
    height: 16px
    background-color: #fff
    right: 50px
    top: -6px
    @include transform(rotate(45deg))

textarea.editor
    display: none!important

body
    background-color: #252932

header, footer
    color: #fff
    background-color: #1b1e24
    position: relative

header a, footer a
    color: #fff

header
    height: 140px

    .account
        position: absolute
        right: 30px
        top: 10px

        [class^="icon-"]
            font-size: 200%
            float: left
            line-height: 32px

        .avatar
            margin: 4px 0 0 10px
            width: 28px
            height: 28px
            float: left
            border-radius: 5px
            overflow: hidden

        .message
            line-height: 28px
            min-width: 16px
            background-color: #999999
            color: #fff
            text-align: center
            padding: 0 4px
            border-radius: 6px
            float: left
            margin: 3px 8px 0 8px
            cursor: pointer
        .message.has-new
            background-color: #e93636

        .message-dialog
            top: 44px
            right: 4px            
            width: 200px
            .count
                border-bottom: 1px solid #9D9D9E
            .view-all
                text-align: right
                a
                    margin-right: 8px
            ul li a
                color: #666

        .account-dialog
            width: 100px
            top: 50px
            right: -16px
            ul li a
                color: #666
                [class^="icon-"]
                    font-size: 100%
                    float: normal
        .account-dialog:before
            right: 24px

footer
    left: 0
    bottom: 0
    height: 100px
    width: 100%

    .powerby
        position: absolute
        bottom: 10px
        right: 10px

.main
    background-color: #252932
    color: #fff
    overflow: hidden
    padding: 22px 0 30px

.breadcrumbs
    @include panel
    margin-bottom: 18px
    text-indent: 1rem
    color: #fff
    font-size: 14px
    a
        color: #fff
    i
        text-align: center
        margin: 0 3px

.pagination
    text-align: center
    li
        display: inline-block
        margin: 8px 6px
        color: #fff
        font-weight: bold
        a
            color: #fff
            font-weight: bold
            display: block
            width: 100%
            height: 100%
    .page
        width: 28px
        height: 30px
        line-height: 30px
        background-color: #c2c2c2
        cursor: pointer
    .page.active
        background-color: #FFB0B0
    .page:hover
        background-color: #FFB0B0



.forum-category
    @include panel
    h4
        height: 44px
        line-height: 44px
        color: #fff
        font-weight: bold
        text-indent: 1rem
        width: 100%
        margin: 0 auto 22px

.forum-channel
    width: 100%
    margin: 0 auto

    .item
        width: 31%
        max-width: 400px
        height: 160px
        float: left
        margin: 0 11px 32px
        position: relative
        overflow: hidden
        a
            color: #fff
        .name
            position: absolute
            top: 20px
            left: 20px
        .count
            position: absolute
            top: 20px
            right: 5%
        .icon
            position: absolute
            width: 320px
            height: 120px
            bottom: 0
            background-image: url(/images/default-channel.png)
        .lastpost-title
            position: absolute
            left: 26px
            top: 86px
        .lastpost-author
            position: absolute
            left: 26px
            top: 118px
        .lastpost-time
            position: absolute
            right: 15%
            top: 118px
            font-size: 14px
        .icon-panel
            display: block
        .lastpost-panel
            display: none
    .item.enter
        .icon-panel
            display: none
        .lastpost-panel
            position: relative
            display: block
            animation: moveup 0.3s
            -webkit-animation: moveup 0.3s
    .item.leave
        .lastpost-panel
            animation: moveright 0.32s
            -webkit-animation: moveright 0.32s

.channel-panel
    @include panel
    background: #575b64
    padding: 30px 0 20px
    .item
        margin: 0 2.6em
        padding: 14px 10px 40px
        border-bottom: 1px solid #71747a
        position: relative

        a
            color: #fff
        .title
            font-size: 18px
        .author
            position: absolute
            top: 42px
            left: 10px
            font-size: 14px
            span
                margin-left: 8px
        .count
            position: absolute
            top: 18px
            right: 240px
            height: 30px
            line-height: 30px
            padding: 0 7px
            background-color: #62656B
            border-radius: 4px
        .count.has-new
            background-color: #6B8FDF
        .lastpost
            position: absolute
            right: 30px
            top: 14px
            width: 180px
            font-size: 14px
            line-height: 20px
    .control
        margin: 0 2.6em
        padding: 0 10px 20px
        border-bottom: 1px solid #71747a
        .button
            display: block
            font-size: 12px
            width: 60px
            height: 32px
            line-height: 32px
            text-align: center
            background-color: #DF796B
            color: #fff
            border: none
            outline: none
            cursor: pointer
    .pagination
        margin-top: 20px

.topic-panel
    @include panel
    background: #575b64
    padding: 40px 0
    .title
        margin: 0 50px
        font-size: 24px
    .auth
        position: relative
        margin: 20px 50px 0
        padding-bottom: 10px
        height: 40px
        font-size: 14px
        border-bottom: 1px solid #b4b4b4
        .avatar
            position: absolute
            width: 32px
            height: 32px
            border-radius: 8px
            overflow: hidden
        .created
            position: absolute
            left: 46px
            top: 20px
        .name
            position: absolute
            left: 46px
        a
            position: absolute
            left: 40px
            color: #fff
    .content
        margin: 20px 50px 0
        line-height: 28px
        img
            max-width: 100%!important


.comment-panel
    @include panel
    margin-top: 40px
    padding-top: 40px
    background: #575b64

    .comment-list, .comment-add
        width: 80%
        margin: 0 auto

    .comment-list
        .item
            position: relative
            min-height: 48px
            .avatar
                position: absolute
                top: 0
                overflow: hidden
                border-radius: 8px
            .user
                margin-left: 60px
                color: #fff
                float: left
            .time
                margin-left: 10px
                float: left
                font-size: 13px
                line-height: 16px
            .content
                margin: 10px 0 32px 60px

    .comment-add
        padding-bottom: 48px
        .button
            margin-top: 8px
            float: right
            width: 60px
            height: 32px
            line-height: 32px
            background-color: #DF796B
            color: #fff
            border: none
            border-radius: 3px
            cursor: pointer

.topic-add-panel,.message-reply-panel
    @include panel
    background: #575b64
    padding: 40px 0
    .title
        display: block
        width: 90%
        height: 32px
        line-height: 32px
        text-indent: 0.8rem
        margin: 0 auto 12px
        padding: 0
    .mce-tinymce
        width: 90%
        margin: 0 auto
    .row
        width: 90%
        margin: 0 auto
        margin-top: 12px
        button
            display: block
            font-size: 12px
            width: 60px
            height: 32px
            line-height: 32px
            text-align: center
            background-color: #DF796B
            color: #fff
            border: none
            outline: none
            cursor: pointer
            float: right

.message-panel
    @include panel
    background: #575b64
    padding: 30px 0 20px
    .item
        margin: 0 2.6em
        padding: 14px 10px 10px
        border-bottom: 1px solid #71747a
        position: relative
        a
            color: #fff
        .title
            font-size: 16px
            display: inline-block
            width: 40%
        .from
            display: inline-block
            width: 20%
        .created
            display: inline-block
            width: 10%
            min-width: 140px
        .setting
            display: inline-block
            width: 20%
            text-align: right
            a
                font-size: 120%

.message-content-panel
    @include panel
    background: #575b64
    padding: 40px 0
    .title
        margin: 0 50px
        font-size: 18px
    .from
        position: relative
        margin: 20px 50px 0
        padding-bottom: 10px
        height: 40px
        font-size: 14px
        border-bottom: 1px solid #b4b4b4
        .avatar
            position: absolute
            width: 32px
            height: 32px
            border-radius: 8px
            overflow: hidden
        .created
            position: absolute
            left: 40px
            top: 20px
        .name
            position: absolute
            left: 46px
        a
            position: absolute
            left: 40px
            color: #fff
    .content
        margin: 20px 50px 0
        line-height: 28px

.message-reply-panel
    margin-top: 40px

.user-panel
    @include panel
    background: #575b64
    padding: 40px 0
    form
        width: 300px
        margin: 0 auto
    hr
        margin: 20px 10px
        border-color: #ccc
    .row
        margin: 0 auto
        width: 80%
        position: relative
        label
            font-size: 13px
            display: block
            padding: 8px 0 4px 4px
        .txt
            width: 240px
            line-height: 28px
            text-indent: 4px
        em
            position: absolute
            top: 32px
            left: 260px
            width: 100%
            color: #FF9191
        .avatar
        .info
            position: absolute
            top: 0
            left: 100px
            li
                line-height: 22px
    .center
        text-align: center

    button
        margin-top: 8px
        width: 60px
        height: 32px
        line-height: 32px
        background-color: #DF796B
        color: #fff
        border: none
        border-radius: 3px
        cursor: pointer

.error-panel
    @include panel
    background: #575b64
    padding: 30px 0 20px
    text-align: center
    p
        line-height: 22px
    a
        color: #fff