@import reset.sass
@import font.scss

@mixin transform($transform)
    -moz-transform: $transform
    -webkit-transform: $transform
    -ms-transform: $transform
    transform: $transform

@mixin linear-gradient($direction, $color-stop1, $color-stop2)
    background-image: linear-gradient($direction, $color-stop1, $color-stop2)
    background-image: -webkit-linear-gradient($direction, $color-stop1, $color-stop2)
    background-image: -moz-linear-gradient($direction, $color-stop1, $color-stop2)
    background-image: -o-linear-gradient($direction, $color-stop1, $color-stop2)

.clear
    clear: both

.dialog
    position: absolute
    background-color: #fff
    z-index: 1
    line-height: 32px
    text-indent: 8px
    border: 1px solid #9D9D9E
    color: #000
    a
        color: #348fd5
        margin-right: 8px
        font-size: 14px
    *
        background-color: #fff
.dialog:before
    content: ''
    position: absolute
    width: 16px
    height: 16px
    background-color: #fff
    right: 46px
    top: -6px
    border: 1px solid #aaa
    z-index: -10
    @include transform(rotate(45deg))

header
    height: 60px
    margin-bottom: 20px
    line-height: 60px
    background-color: #e3e3e3
    position: relative

    .logo
        font-size: 26px
        font-weight: bold
        color: #b81313
        float: left
        margin-left: 0.5em

    .account
        position: absolute
        top: 10px
        right: 30px

        img
            display: block

        [class^="icon-"], [class*="icon-"]
            font-size: 200%
            float: left
            line-height: 32px

        .avatar
            margin: 2px 0 0 10px
            width: 28px
            height: 28px
            float: left
            border-radius: 5px
            overflow: hidden

        .message
            line-height: 28px
            min-width: 16px
            background-color: #999999
            color: #fff
            text-align: center
            padding: 0 4px
            border-radius: 3px
            float: left
            margin: 3px 8px 0 8px
            cursor: pointer

        .message.has-new
            background-color: #e93636

        .message-dialog
            top: 44px
            right: 4px            
            width: 200px
            .count
                border-bottom: 1px solid #9D9D9E
            .view-all
                text-align: right
                a
                    margin-right: 8px
            ul li a
                color: #666

        .account-dialog
            width: 100px
            top: 50px
            right: -16px
            ul li a
                color: #666
                [class^="icon-"],[class*="icon-"]
                    font-size: 100%
                    float: normal
        .account-dialog:before
            right: 24px

footer
    left: 0
    bottom: 0
    width: 100%
    height: 60px
    line-height: 60px
    background-color: #e3e3e3
    position: relative

    .powerby
        position: absolute
        height: 20px
        bottom: 20px
        right: 10px
        color: #999
        font-size: 16px
        a
            color: #666
            font-weight: bold

.main
    background-color: #fff
    color: #999
    overflow: hidden
    padding: 22px 0 30px
    min-width: 790px
    width: 84%
    margin: 0 auto

.button
    display: block
    font-size: 12px
    width: 60px
    height: 32px
    line-height: 32px
    text-align: center
    background-color: #DF796B
    color: #fff
    border: none
    outline: none
    cursor: pointer

.pagination
    text-align: center
    margin-top: 10px
    li
        display: inline-block
        margin: 8px 6px
        color: #fff
        font-weight: bold
        a
            color: #fff
            font-weight: bold
            display: block
            width: 100%
            height: 100%
    .page
        width: 28px
        height: 30px
        line-height: 30px
        background-color: #c2c2c2
        cursor: pointer
    .page.active
        background-color: #FFB0B0
    .page:hover
        background-color: #FFB0B0

.breadcrumbs
    margin-bottom: 18px
    color: #666
    font-size: 18px
    a
        color: #666
    i
        text-align: center
        margin: 0 3px

.forum-category
    h4
        height: 36px
        line-height: 36px
        font-size: 18px
        background-color: #e3e3e3
        border-left: 6px solid #b81313
        text-indent: 18px

    .forum-channel
        margin: 18px 0 2px 0
        padding-left: 14px
        .item
            width: 31%
            height: 54px
            padding: 24px 0
            margin-right: 16px
            margin-bottom: 24px
            float: left
            border: 1px solid #e3e3e3
            box-shadow: 1px 1px 10px rgba(80, 80, 80, 0.4)
            .name
                font-size: 18px
                color: #999
                margin-left: 18px
            .description
                font-size: 13px
                margin-top: 22px
                margin-left: 18px
                margin-right: 18px
                .count
                    float: left
                    width: 40%
                    overflow: hidden
                .lasttime
                    float: left
                    width: 40%
                    overflow: hidden
                    display: inline-block
                    white-space: nowrap



.channel-panel
    .item
        width: 100%
        height: 72px
        line-height: 72px
        border-bottom: 1px dashed #999
        .left-panel
            float: left
            width: 50%
            white-space: nowrap
            overflow: hidden
            line-height: 32px
            text-indent: 10px
            margin-top: 8px
            .author
                color: #666
                font-size: 13px
                a
                    min-width: 80px
                    display: inline-block
                    float: left
                span
                    margin-left: 8px
        .right-panel
            float: right
            width: 200px
            margin-right: 20px
            white-space: nowrap
            overflow: hidden
            .count
                float: left
            .author
                float: left
                margin-left: 16px
            .lastpost
                float: right
                font-size: 14px
                height: 72px
                line-height: 18px
                overflow: hidden
                a
                    margin: 12px 6px 0 0
                    line-height: 32px
                    display: inline-block
                .created
                    font-size: 13px
                    line-height: 13px
                    overflow: hidden
    .control
        height: 40px
        line-height: 40px

.topic-panel
    padding: 18px 24px
    border: 1px solid #e3e3e3
    box-shadow: 1px 1px 10px rgba(80, 80, 80, 0.4)
    width: 92%
    .title
        font-size: 20px
        font-weight: bold
    .author
        margin: 12px 0 8px
        position: relative
        height: 46px
        border-bottom: 1px solid #ccc
        .avatar
            position: absolute
        .name
            position: absolute
            left: 40px
        .created
            position: absolute
            left: 40px
            bottom: 12px
    .content
        margin: 20px 50px 0
        line-height: 28px
        img
            max-width: 100%!important
.comment-panel
    margin-top: 12px
    padding: 24px 24px
    border: 1px solid #e3e3e3
    box-shadow: 1px 1px 10px rgba(80, 80, 80, 0.4)
    width: 92%
    .comment-list
        .item
            position: relative
            min-height: 48px
            .avatar
                position: absolute
                top: 0
                overflow: hidden
                border-radius: 8px
            .user
                margin-left: 60px
                float: left
            .time
                margin-left: 10px
                float: left
                font-size: 13px
                line-height: 16px
            .content
                margin: 10px 0 32px 60px
    .button
        margin-left: 10px

.topic-add-panel,.message-post-panel
    padding: 40px 0
    .title
        display: block
        width: 99%
        height: 32px
        line-height: 32px
        text-indent: 0.8rem
        margin: 0 auto 12px
        padding: 0
        border: 1px solid #ddd
    .mce-tinymce
        width: 99%
        margin: 0 auto
    .row
        width: 99%
        margin: 0 auto
        margin-top: 12px